CONFIG_ARM=y
CONFIG_SYS_ARCH="arm"
CONFIG_SYS_CPU="armv7"
CONFIG_SYS_SOC="mx6"
CONFIG_HAS_VBAR=y
CONFIG_HAS_THUMB2=y
CONFIG_CPU_V7=y
CONFIG_ARCH_MX6=y
CONFIG_MX6=y
CONFIG_TARGET_CUSTOM_IMX6UL=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/custom-imx/custom-imx6ul/imximage.cfg,SYS_BOOT_NAND,DDR_SIZE=256"
CONFIG_CMD_GPIO=y